@{ /* catch the passed data object from BlogController */ }
@model List<BlogModel>

@{
    ViewData["Title"] = "Blog";
    int count = 0;
}

<h2>Blog List</h2>

<div>total blogs: @Model.Count</div>

<a href="/Blog/Create" class="btn btn-success">Add new blog</a>

<table class="table table-responsive">
    <thead>
        <tr>
            <td>Number</td>
            <td>Title</td>
            <td>Author</td>
            <td>Content</td>
        </tr>
    </thead>
    <tbody>
        @foreach (BlogModel item in Model)
        {
            <tr>
                <td>@(++count)</td>
                <td>@item.BlogTitle</td>
                <td>@item.BlogAuthor</td>
                <td>@item.BlogContent</td>
            </tr>
        }
    </tbody>
</table>